html, body, .inner > * { margin: 0; padding: 0 }
html { height: 100% }
body { min-height: 100% }

/* layout */

.flex-row { box-sizing: border-box; width: 100%; padding: 1.2rem }
.flex-row .inner { max-width: 48rem; margin: 0 auto }
.flex-row + .flex-row { margin-top: 2rem }

.flex-container { display: flex; flex-direction: column }
.flex-row.flex-main { flex: 1 0 auto }
.flex-container.flex-centered { justify-content: space-between }
.flex-container.flex-centered .flex-row.flex-main { flex: 0 1 auto }

/* forms */

.form-row { margin: 1.2rem 0 0 0 }
.form-row label input { min-width: 16rem }
.form-row label span { display: inline-block; width: 8rem }

@media (min-width: 34.7rem) {
    .form-controls { padding-left: 8rem }
    .form-row label input { width: 24rem }
}

/* decorations */

header { border-bottom: medium dashed }
footer { border-top: thin dashed }

@media (min-width: 52.4rem) {
    .flex-centered .flex-row.flex-main .inner {
        margin: -1.2rem auto;
        padding: 1.2rem;
        outline: thin dashed;
    }
}
