{%      if page.ref

%}{%        assign _list = site.posts | where: 'ref', page.ref | sort: 'lang'
%}{%        for _item in _list
%}{%            if _item.url != page.url
%}{%                assign _item_url = _item.url | slice: 1, _item.url.size %}
        <link rel="alternate" hreflang="{{ _item.lang }}" href="{{ root_prefix }}{{ _item_url }}">{%
                endif
%}{%        endfor

%}{%        assign _list = site.pages | where: 'ref', page.ref | sort: 'lang'
%}{%        for _item in _list
%}{%            if _item.url != page.url
%}{%                assign _item_url = _item.url | slice: 1, _item.url.size %}
        <link rel="alternate" hreflang="{{ _item.lang }}" href="{{ root_prefix }}{{ _item_url }}">{%
                endif
%}{%        endfor
%}{%    endif
%}
