{%      for mapping in site.data.map
%}{%        for item in mapping[page.lang]
%}{%            if item == page.path
%}{%                for alt in mapping
%}{%                    assign alt_path = alt[1]
%}{%                    if alt_path != page.path

%}{%                        assign posts = site.posts | where: "path", alt_path
%}{%                        for item in posts %}
        <link rel="alternate" hreflang="{{ item.lang }}" href="{{ root_prefix }}{{ item.url | slice: 1, item.url.size }}">{%
                            endfor

%}{%                        assign pages = site.pages | where: "path", alt_path
%}{%                        for item in pages %}
        <link rel="alternate" hreflang="{{ item.lang }}" href="{{ root_prefix }}{{ item.url | slice: 1, item.url.size }}">{%
                            endfor

%}{%                    endif
%}{%                endfor
%}{%            endif
%}{%        endfor
%}{%    endfor %}
