{%      for mapping in site.data.map

%}{%        unless mapping contains page.path
%}{%            continue
%}{%        endunless

%}{%        for item in site.posts
%}{%            if mapping contains item.path and item.path != page.path
%}{%                assign item_url = item.url | slice: 1, item.url.size %}
        <link rel="alternate" hreflang="{{ item.lang }}" href="{{ item_url }}">{%
                endif
%}{%        endfor

%}{%        for item in site.pages
%}{%            if mapping contains item.path and item.path != page.path
%}{%                assign item_url = item.url | slice: 1, item.url.size %}
        <link rel="alternate" hreflang="{{ item.lang }}" href="{{ item_url }}">{%
                endif
%}{%        endfor
%}{%    endfor %}
