{%      for mapping in site.data.map

%}{%        unless mapping contains page.path
%}{%            continue
%}{%        endunless
%}
                <nav>
                    <ul>{%

            for item in site.posts
%}{%            if mapping contains item.path and item.path != page.path
%}{%                assign item_url = item.url | slice: 1, item.url.size %}
                        <li lang="{{ item.lang }}">
                            <a href="{{ root_prefix }}{{ item_url }}">{{ site.locales[item.lang] }}</a>
                        </li>{%
                endif
%}{%        endfor

%}{%        for item in site.pages
%}{%            if mapping contains item.path and item.path != page.path
%}{%                assign item_url = item.url | slice: 1, item.url.size %}
                        <li lang="{{ item.lang }}">
                            <a href="{{ root_prefix }}{{ item_url }}">{{ site.locales[item.lang] }}</a>
                        </li>{%
                endif
%}{%        endfor
%}
                    </ul>
                </nav>{%
        endfor %}
