---
layout: default
---
{%    assign root_prefix = ''
%}{%  assign root_subfolders = page.url | split: '/' | size | minus: 2
%}{%  for x in (1..root_subfolders)
%}{%    assign root_prefix = root_prefix | append: '../'
%}{%  endfor %}

    <div class="flex-container" itemscope itemtype="http://schema.org/BlogPosting">
{% include page_header.html %}
      <article class="flex-row flex-main">
        <div class="inner">
          <p datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date }}</p>
          <div itemprop="articleBody">
{{ content }}
          </div>

        </div>
      </article>
{% include page_footer.html %}
    </div>
